apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
  namespace: hrms
spec:
  capacity:
    storage: 8Gi
  accessModes:
    - ReadWriteOnce
  hostPath:   # For testing on single node; not for production
    path: "/mnt/data/mysql"
